/*general*/
* {
    box-sizing: border-box;
}

html {
    color: #e3c597;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

html,
body {
    background: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Prata", sans-serif;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
}

h2 {
    font-family: "Prata", sans-serif;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
}

h3 {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2.5rem;
}

h4 {
    color: #e3c597;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

h5 {
    color: #f1e1ca;
    font-size: .78rem;
    font-weight: 400;
    line-height: 1.3rem;
}

p {
    color: #a49183;
    font-size: .78rem;
    font-weight: 400;
    line-height: 1.3rem;
}

/*main*/
.main-wrap {
    margin: 0 auto;
    width: 100%;
    padding: 0 60px;
}

.clr-fix:after {
    content: '';
    clear: both;
    display: block;
}

.p0 {
    padding: 0 !important;
}

.pt0 {
    padding-top: 0 !important;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.m0 {
    margin: 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.ml0 {
    margin-left: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

/*icons*/

/*form and form elements*/

.buttons {
}

.buttons:after {
    content: '';
    clear: both;
    display: block;
}

.button {
    background: none;
    border: none;
    border-radius: 29px;
    color: #f8f4f1;
    font-size: .83rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    line-height: 60px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    padding: 0 35px;
    height: 60px;
}

.button--positive {
    background: #9f7b51;
}

.button--info {
    background: transparent;
    border: 1px solid #9f7b51;
}

.button--neutral {
    background: transparent;
    color: #e2c691;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: normal;
    text-transform: uppercase;
}

/*logo*/

.logo {
    line-height: 40px;
    display: block;
    width: 184px;
    height: 42px;
}

.logo-img {
    line-height: 42px;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

/*navigation*/

.nav {
    display: block;
}

.nav-items {
    display: block;
    height: 100%;
}

.nav-item {
    display: block;
    float: left;
    margin-right: 50px;
    height: 100%;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item--link {
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    line-height: 42px;
    text-transform: uppercase;
    display: block;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.nav-item:hover .nav-item--link {
    color: #e3c597;
}

/*login*/

.login {
    display: block;
}

.login__button {
    display: inline-block;
    height: 42px;
    line-height: 4px;
}

/*header*/

.header {
    padding: 40px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.header__logo {
    float: left;
    margin-right: 140px;
}

.header__nav {
    float: left;
    height: 42px;
}

.header__login {
    float: right;
    position: relative;
}

/*end header*/

/*content*/

/*title block*/

.title-block {
    position: relative;
    width: 100%;
}

.title-block-slides {
    position: relative;
    height: 930px;
    width: 100%;
}

.title-block-slide {
    background: no-repeat top right;
    -webkit-background-size: contain;
    background-size: contain;
    display: none;
    padding-top: 200px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title-block-slide--active {
    display: block;
}

.title-block-slide__text {
    width: 50%;
}

.title-block-slide__text .main-title {
    text-align: left;
    margin-bottom: 10px;
}

.title-block-slide__text h3 {
    text-align: center;
    margin-bottom: 10px;
    width: 85%;
}

.title-block-slide__text p {
    text-align: center;
    width: 85%;
}

.title-block__buttons {
    position: absolute;
    left: 80px;
    top: 450px;
}

.title-block__buttons .button {
    margin-right: 60px;
}

.title-block__buttons .button:last-child {
    margin-right: 0;
}

/*end title block*/

/*about-us block*/

.about-us {
    margin-top: -250px;
}

.about-us-title {
    text-align: center;
    margin-bottom: 60px;
}

.about-us__item {
}

.about-us-item-title {
    padding-right: 300px;
}

.about-us-item-imgs {
    width: 100%;
    height: 360px;
}

.imgs-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.imgs-box__img-wrap {
    border: 8px solid #000;
    position: absolute;
    margin-left: -138px;
    left: 50%;
    top: 0;
    width: 276px;
    height: 276px;
    z-index: 20;
}

.imgs-box__img {
}

.imgs-box-img {
    border: 8px solid #9f7c52;
    width: 100%;
    height: 100%;
}

.imgs-box__bg {
    position: absolute;
    left: 50%;
    top: 35px;
}

.imgs-box-bg {
    border: 8px solid #58442d;
    margin-left: -100px;
    width: 276px;
    height: 276px;
    z-index: 10;
}

.imgs-box--inverse {
}

.imgs-box--inverse .imgs-box-bg {
    margin-left: -170px;
}

.imgs-box--left {

}

.imgs-box--left .imgs-box__img-wrap {
    left: 70%;
}

.imgs-box--left .imgs-box__bg {
    left: 70%;
}

.about-us-info-block {
    margin-top: 70px;
}

.about-us-info {
    margin: 30px 0;
    padding-right: 84px;
}

.about-us-info--mt {
    margin-top: 80px;
}

.about-us-digital {

}

.about-us-digital h2 {
    padding-top: 45px;
}

.about-us-digital h4 {
    color: #ffffff;
}

.about-us-digital h5 {
    color: #685033;
}

.about-design-block {
    position: relative;
    top: -150px;
}

.about-design-imgs-block {
    position: relative;
    top: 150px
}

/*end about-us block*/

/*how-it-works block*/

.how-it-works {
    margin-top: 150px;
}

.how-it-works-title {
    text-align: center;
}

.how-it-works-descriptions {
    margin-top: 60px;
    position: relative;
}

.how-it-works-descriptions__line {
    background: #604f3a;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 20px;
    left: 0;
    z-index: 1;
}

.how-it-works-description {
    position: relative;
}

.how-it-works-descriptions__first {

}

.how-it-works-descriptions__last {

}

.how-it-works-description__title {
    float: left;
    position: relative;
    width: 100%;
    z-index: 12;
}

.how-it-works-descriptions__last .how-it-works-description:first-child {
    float: left;
}

.how-it-works-descriptions__last .how-it-works-description:last-child,
.how-it-works-descriptions__last .how-it-works-description:last-child .how-it-works-description-title__number {
    float: right;
}

.how-it-works-description-title__number {
    background: #9f7b51;
    border-radius: 100%;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    width: 40px;
    height: 40px;
}

.how-it-works-description-title__title {
    text-align: center;
    letter-spacing: 3px;
    position: relative;
    width: 100%;
    left: -45%;
    top: 15px;
}

.how-it-works-descriptions__first .how-it-works-description-title__title {
    left: 0;
    text-align: left;
}

.how-it-works-descriptions__last .how-it-works-description:last-child .how-it-works-description-title__title {
    text-align: right;
    left: 0;
}

.how-it-works-description__info {
    background: #2e2e2e;
    border-radius: 5px;
    display: none;
    padding: 30px 20px;
    position: absolute;
    top: 23px;
    left: -45%;
    width: 100%;
    z-index: 20;
}

.how-it-works-description__info h5 {
    color: #ffffff;
    font-size: .84rem;
    font-weight: 600;
    text-align: center;
}

.how-it-works-description__info p {
    color: #f1e1ca;
    font-size: .82rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.3rem;
}

.how-it-works-descriptions__first .how-it-works-description__info {
    left: 0;
}

.how-it-works-descriptions__last .how-it-works-description:first-child .how-it-works-description__info {
    min-width: 400px;
    left: -176px;
}

.how-it-works-descriptions__last .how-it-works-description:last-child .how-it-works-description__info {
    left: unset;
    right: 0;
    min-width: 400px;
}

.how-it-works-description--active .how-it-works-description__info {
    display: block;
}

.how-it-works-description--active .how-it-works-description__title {
    z-index: 25;
}

.how-it-works-description--active .how-it-works-description-title__title {
    display: none;
}

/*end how-it-works block*/

/*choose-design block*/

.choose-design {
    margin-top: 282px;
}

.choose-design-title {
    text-align: center;
    margin-bottom: 50px;
}

.design-slider {
    min-height: 470px;
}

.design-slide {
    width: 485px;
}

.slide-img {
    border: 3px solid #8f704c;
    margin: 0 auto;
    width: 352px;
    height: 255px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.slide-img--img {
    border: 6px solid #000;
    width: 100%;
    height: 100%;
}

.slide-info {
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.slide-info h4 {
    color: #ffffff;
    text-align: center;
}

.slide-buttons {
    text-align: center;
    display: block;
    margin-top: 20px;
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.slide-buttons .button {
    height: 50px;
    line-height: 50px;
}

.slide-buttons .button:first-child {
    margin-right: 15px;
}

.slick-current .slide-buttons {
    opacity: 1;
}

.slick-current .slide-img {
    width: 485px;
    height: 352px;
}

.slick-current .slide-info {
    opacity: 1;
}

.slick-arrow {
    width: 12px;
    height: 22px;
    top: 35%;
    z-index: 500;
}

.slick-arrow:after,
.slick-arrow:before {
    content: '';
    background: #e3c597;
    display: block;
    margin-left: -1px;
    position: absolute;
    width: 11px;
    height: 2px;
    top: 50%;
    left: 0;
}

.slick-arrow:after {
    top: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slick-arrow:before {
    top: 13px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.slick-prev {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.slick-prev {
    margin-left: -310px;
    left: 50%;
}

.slick-next {
    margin-right: -310px;
    right: 50%;
}

/*end choose-design block*/

/*prices block*/

.prices {
    margin-top: 200px;
}

.prices-title {
    text-align: center;
}

.prices__items {
    text-align: center;
    margin-top: 60px;
}

.prices__item {
    vertical-align: top;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.prices__item:first-child {
    position: relative;
    right: -10px;
    z-index: 5;
}

.prices__item:last-child {
    position: relative;
    left: -10px;
    z-index: 5;
}

.prices__item--premium {
    border: 5px solid #9f7b51;
    border-radius: 8px;
}

.prices__item--premium {
    position: relative;
    z-index: 10;
}

.price-block {
    background: #262626;
    border: 12px solid #1a1a1a;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    height: 538px;
    width: 278px;
}

.price-block-title {
    color: #ffffff;
    font-family: "Prata", sans-serif;
    font-size: 1.33rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 24px;
}

.price-block-price {
    font-family: "Prata", sans-serif;
    font-size: 3.78rem;
    font-weight: 400;
    text-align: center;
}

.price-block-price sup {
    font-size: 2rem;
}

.price-block-descriptions {
    display: inline-block;
}

.price-block-description {
    display: inline-block;
}

.price-block-description__text {
    color: #e3c597;
    font-size: .67rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: .84rem;
    margin: 10px 0;
    position: relative;
}

.prices__item--premium .price-block-description__text {
    color: #f1e1ca;
}

.price-block-description__text:before {
    content: '';
    background: #e3c597;
    border-radius: 100%;
    position: absolute;
    width: 2px;
    height: 2px;
    left: -20px;
    top: 50%;
}

.price-block-buttons {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
}

.price-block__button {

}

/*end prices block*/

/*buy-certificate block*/

.buy-certificate {
    margin-top: 130px;
}

.buy-certificate-title {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 70px;
}

.buy-certificate-info {
    margin-bottom: 50px;
}

.buy-certificate-info p {
    color: #f1e1ca;
    font-size: .78rem;
    font-weight: 300;
    line-height: 1rem;
}

.buy-certificate__buttons {
    text-align: center;
}

.buy-certificate-imgs {
    text-align: right;
}

.buy-certificate-img {
    margin-right: 80px;
}

/*end buy-certificate block*/

/*reviews block*/

.reviews {
    margin-top: 150px;
}

.reviews-title {
    text-align: center;
    margin-bottom: 75px;
}

.reviews-block {
    margin-bottom: 25px;
}

.review {
    position: relative;
    width: 90%;
}

.review-body {
    background: #2e2e2e;
    border-radius: 100px 5px 5px 100px;
    padding-left: 150px;
    width: 100%;
    height: 136px;
}

.review-img {
    background: #9f7b51;
    display: block;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 136px;
    height: 136px;
}

.review-img--img {
    width: 100%;
    height: 100%;
}

.review-text {
    display: block;
    padding: 20px 15px 20px 0;
    width: 100%;
    height: 100%;
}

.review-text p {
    color: #f1e1ca;
    font-size: 1.17rem;
    font-weight: 400;
    line-height: 1.5rem;
    width: 100%;
    height: 100%;
}

.review-name {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3rem;
    text-align: right;
    margin-top: 5px;
}

.review-name:before {
    content: '-';
    margin-right: 5px;
}

.reviews__buttons {
    text-align: center;
    margin-top: 65px;
}

/*end reviews block*/

/*faq block*/

.faq {
    margin-top: 150px;
}

.faq-block {
    margin-bottom: 60px;
}

.faq-title {
    text-align: center;
}

.faq-item {
    margin: 0 auto;
    padding-left: 100px;
    position: relative;
    width: 80%;
}

.faq-item-title {
    letter-spacing: 3px;

}

.faq-item-text {

}

.faq-item:before {
    content: '';
    background: url("../img/icon_faq.png") no-repeat 0 0;
    -webkit-background-size: contain;
    background-size: contain;
    display: block;
    position: absolute;
    width: 76px;
    height: 106px;
    top: 0;
    left: 0;
}

.faq__buttons {
    text-align: center;
    margin-top: 65px;
}

/*end faq block*/

/*footer block*/

.footer {
    background: #141414;
    margin-top: 150px;
    padding-top: 80px;
    padding-bottom: 20px;
    width: 100%;
}

.footer-items {

}

.footer-item {
    text-align: center;
}

.footer-list {
    display: inline-block;
    text-align: left;
}

.footer-list-item {
    color: #f1e1ca;
    font-size: .67rem;
    font-weight: 400;
    line-height: 1rem;
}

.footer-list-item:first-child {
    color: #e3c597;
    font-size: .67rem;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1rem;
    margin-bottom: 15px;
}

.footer-list-item--link {
    color: #f1e1ca;
    font-size: .67rem;
    font-weight: 400;
    line-height: 1rem;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.footer-list-item--link:hover {
    color: #e3c597;
}

.copyright-block {
    margin-top: 60px;
}

.copyright {
    color: #927e75;
    font-size: .78rem;
    font-weight: 400;
    font-style: normal;
}





























/*end footer block*/

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    html {
        overflow: hidden;
        height: 100%;
    }

    body {
        overflow: auto;
        height: 100%;
    }
}